#accordion {
    margin-top: 20px;
}

.tab .title {
    padding: 10px;
    background-color: lightblue;
    font-weight: bold
}

.tab .content {
    padding: 10px;
    border: 1px 0 1px 1px;
    border-style: solid;
    border-color: darkcyan;
}

.flex {
    display: flex;
}

.show {
    display: block;
}

.hide {
    display: none;
}